@import url("colors.css");
@import url("navbar.css");

body {
    margin: 0px;
}


.flex-images-top{
    display:flex;
    flex-direction: column;
    max-width:50%;
    margin-left: auto;
    margin-right: auto;
}

.flex-images-top img{
    display:flex;
    max-width: 100%;
    
}

.flex-images-bottom{
    display:flex;
    flex-direction: column;
    max-width:50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.flex-images-bottom img{
    display: flex;
    max-width: 100%;
    
}


@media(min-width: 960px){

    img {
        width:50%;
        height:auto;
    }

    .flex-images-top{
        display: flex;
        flex-direction: row;
    }

    .flex-images-top img{
        max-width: 33%;
        
           
    }

    .flex-images-bottom{
        display: flex;
        flex-direction: row;
    }

    .flex-images-bottom img{
        display:flex;
        flex-direction: row;
        
           
    }
}