.flex {
    display: flex;
    flex-direction: column;
}

nav .logo {
    max-width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

nav .logo-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    
}

nav ul{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
    text-align: center;
}

nav ul li{
    padding: 10px;
    border-bottom: 2px solid rgb(43, 43, 43);
}

nav a {
    text-decoration: none;
    color: #222;
}

.order-2 {
    display: none;
}





@media(min-width: 960px) {
    nav.flex {
    flex-direction: row;
    justify-content: space-between;
    }

    .order-lg-1{
        order:1;
        justify-content: flex-start;
    }

    .order-2{
        order:2;
        display: inline-flex;
        max-width: 9%;
    }

    .order-lg-3{ 
        order:3;
        justify-content: flex-end;
    }

    nav ul.flex {
        flex-direction: row;
        flex-grow:2;
        justify-content: flex-end;
        text-align: center;
        align-items: center;
    }

    nav.logo {
        max-width: 30%;
    }

    #logo-1 {
        display:none;
    }

    nav ul li {
        border-bottom: rgba(12, 250, 198, 0.418);
        flex-basis: 0;
        flex-grow: 1;
    }
 
        
    

}