.flex {
    display: flex;
    flex-direction: column;
}

nav .logo {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

nav .logo-container {
    background-color: #2b72e2;
}

nav ul{
    margin: 0px;
    padding-left: 0px;
    list-style: none;
}

nav ul li{
    padding: 10px;
    border-bottom: 2px solid rgb(43, 43, 43);
}

nav a {
    text-decoration: none;
    color: #222;
}


@media(min-width: 960px) {
    nav .flex {
    flex-direction: row;
}

    nav.flex {
    justify-content: space-between;
    }

    nav ul.flex {
        flex-direction: row;
        flex-grow: 2;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }

    nav .logo {
        max-width: 30%;
    }

    nav ul li {
        border-bottom: none;
    }
    
}