body{
    margin: 0px;
}

header {
    min-height: 300px;
}
body{
    background-color: black;
}

.button1 {
    display: flex;
    width:300px;
    align-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.enterprise {
    display: flex;
    width:100%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.enterprise img{
    margin-left: auto;
    margin-right: auto;
}
#entChange{
    width:100px;
    height:60px;
    background-color: salmon;
    font-size: 20px;
    margin: 10px;

    
}

#reset{
    width:100px;
    height:60px;
    background-color: salmon;
    font-size: 20px;
    margin: 10px;

}
