.red-bg {
    background-color: rgb(184, 38, 118);    
}

.green-bg {
    background-color: rgb(80, 201, 132);
}

.blue-bg {
    background-color: rgb(132, 181, 230);
}

.yellow-bg {
    background-color: rgb(231, 228, 50);
}

.purple-bg {
    background-color: rgb(121, 79, 163);
}
.brisket {
    background-image: url(week_2 copy/brisket.jpg);
}