.red-bg {
    background-image: url(/Users/wes/repos/SMC_WD2_classwork/week_2 copy/taiyaki.jpg);   
}

.green-bg {
    background-color: rgb(80, 201, 132);
}

.blue-bg {
    background-color: rgb(132, 181, 230);
}

.yellow-bg {
    background-color: rgb(231, 228, 50);
}

.purple-bg {
    background-color: rgb(121, 79, 163);
}
