.floater {
    float:left;
    min-height: 200px;

}

.w-100 {
    width: 100%;
}

@media(min-width: 550px) {
    .w-md-50 {
        width: 50%;
    }

    .w-md-33 {
        width: 33.3%;
    }
}

/* END OF MEDIUM QUERRY */

@media(min-width: 960px) {
    .w-lg-100 {
        width:100%;
    }

    .w-lg-50 {
    width:50%;
}
}
/* END OF LARGE QUERY */