body{
    margin: 0px;
    background-color: #000;
}

header {
    min-height: 100px;
}

label{
    color: #fff;
    margin:10px;
}
 
select {
        width: 25%;
        padding: 5px 20px;
        border:double rgb(40, 152, 218);
        border-radius: 10px;
        background-color: #e2e2e2;  
}


.imgGallery{
    display: flex;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




