/* first responsive site */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#toggleAssist,
ul.nav-links{
    display: none;
    font-size: x-large;
    background-color: aqua;
}

a {
    color: black;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}

div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-left: 10px;
  }
  
