a:link {
    color: #0b8ba1;
}

a:hover {
    color: rgb(66, 18, 240);
}

a:visited {
    color: rgb(66, 18, 240);
}

.aboutTitle {
    display: flex;
    justify-content: center;
}

.aboutHead {
    max-width: 1366px;
    margin: auto;
}

.aboutHead img {
    width: 100%;
    margin: auto;
}

#amTitle {
    color: #0b8ba1;
}

.aboutMain {
    margin: 15px;
    margin-bottom: 50px;
    max-width: 1366px;
    margin: auto;
}

.aboutMain2 {
    margin: 15px;
    margin-bottom: 50px;
    max-width: 1366px;
    margin: auto;
}

.aboutMain3 {
    margin: 15px;
    margin-bottom: 50px;
    max-width: 1366px;
    margin: auto;
}

@media(min-width:750px) {
    p {
        font-size: 12pt;
    }

    #amTitle {
        font-size: 14pt;
    }
}