.aboutTitle{
    display: flex;
    justify-content: center;
}

.aboutHead {
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
}

.aboutHead img{
    width:100%;
    margin: auto;
}

#amTitle{
    color: #0b8ba1;
}

.aboutMain{
    margin: 15px;
    margin-bottom: 50px;
}

.aboutMain2{
    margin: 15px;
    margin-bottom: 50px;
}

.aboutMain3{
    margin: 15px;
    margin-bottom: 50px;
}