.blog{
    display:flex;
    margin:auto;
    flex-direction: column;
    justify-content: center;
}

.blogTitle{
    margin-left: auto;
    margin-right: auto;
}

.blogImg{
    display:flex;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.blogImg img{
    width:80%;
    
}
.post{
    width:70%;
    margin:auto;
}
@media(min-width:750px){
    .blogTitle{
        font-size: 15pt;
    }

}

    @media(min-width:1000px){
        .blog{
            flex-direction: row;
            margin:30px;
        }

        .blogImg{
        max-width: 500px;
        }
        .post{
            width:50%;
        }

        .blogTitle{
            margin:auto;
            width:280px;
            font-size: 12pt;
        }  
    
    }

    @media(min-width:1275px){
        .blogTitle{
            font-size: 15pt;
            width:300px;
        }
    }

    
