.buttonGrid{
    display:grid;
    max-width: 375px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    margin-top:30px;
}

.button{
    background-color: #0b8ba1;
    width:100px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button:hover{
    background-color: rgb(52, 228, 105);
    color:black;
}

#donButton{
    grid-column: 1/4;
    width: 100%;
}

.sections{
    display:flex;
    flex-direction: column;
    margin:auto;
    max-width:800px;
}

.donations{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


#donSections{
    color: #0b8ba1;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}