body {
    margin:0px;
}

header {
    max-width:1000px;
    margin:auto;
}

#toggleAssist,
ul.nav-links {
    display: none;
}

.logo{
    max-width: 200px;
    margin: 15px;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}  
.toggle-button {
    width: 35px;
    float: right;
    margin: 15px;
    margin-top: 30px;
}

.social{
    display:grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 220px;
    grid-gap: 15px;
    grid-template-columns: 80px 40px 40px;
    grid-template-rows:40px;
    justify-content: space-evenly;
}

.grid-item{
    justify-self: center;
}

#soc1{
    grid-column: 1/2;
    width:75px;
}
#soc2{
    grid-column: 2/3;
    width:40px;
}
#soc3{
    grid-column: 3/4;
    width:40px;
}



ul.nav-links{
    list-style: none;
    padding-left: 0px;
}

ul.nav-links li{
    padding: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}


ul.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color:#000000;
   
}