#toggleAssist,
ul.nav-links {
    display: none;
}

.logo{
    max-width: 175px;
    margin: 15px;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}  
.toggle-button {
    width: 35px;
    float: right;
    margin: 15px;
    margin-top: 30px;
}

ul.nav-links{
    list-style: none;
    padding-left: 0px;
}

ul.nav-links li{
    padding: 10px;
    border-bottom: 2px solid rgb(254,6, 111);
    text-align: right;
}

ul.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color:#516f51;
   
}