/* BACKGROUND COLORS */
.red-bg {
    background-color: rgb(226, 82, 66);
}

.green-bg {
    background-color: rgb(106, 179, 138);
}

.yellow-bg {
    background-color: rgb(233, 229, 23);
}

.purple-bg {
    background-color: rgb(154, 96, 212);
} 

.pink-bg {
    background-color: rgb(238, 37, 194);
}

.orange-bg {
    background-color: rgb(221, 157, 37);
}

.blue-bg {
    background-color: royalblue;
}