@import url("colors.css");
@import url("navbar.css");
@import url("shibamain.css");
@import url("labmain.css");

body {
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    /* grid-template-rows: [h-line-1 firstH] 50% [h-line-2] 50% [h-line-3]; */
    grid-template-rows: [h-line-1 firstH] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4] 1fr [h-line-5];
    grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3];
    
    grid-gap: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    height: 100vh;
}

.gd-1 img {
    width: 100%;
    
}

.gd-2 {
    padding:10px;
    text-align: center;
}

.gd-3 {
    grid-row: 2/4;
    text-align: center;
    padding:10px;
}

.gd-4 img {
    height: 100%;
}

.gd-5 {
    grid-row: 3/ h-line-5;
    padding: 10px;
    text-align: center;
}

.gd-6 img {
    width:100%;
    rotate: 180deg;
}


@media(min-width: 560px){
    .grid-container {
        display: grid;
        /* grid-template-rows: [h-line-1 firstH] 50% [h-line-2] 50% [h-line-3]; */
        grid-template-rows: [h-line-1 firstH] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
        grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3] 1fr [v-line-4];
        
        grid-gap: 15px;
    
        height: 400px;
        width: 540px;

        margin: auto;
    }
    
    .gd-3 {
        grid-column: v-line-3 / v-line-4;
        grid-row: 1 / h-line-2;
    }
    
    .gd-4, .gd-5 {
        grid-row: h-line-2 / h-line-4;
    }
    
    .gd-6 {
        grid-row: h-line-2 / h-line-4;
        grid-column: v-line-3/v-line-4;
    }
}

@media(min-width: 768px){
    .grid-container{
        width: 760px;
    }
}

@media(min-width: 960px){
    .grid-container{
        display: grid;
        grid-template-rows: [h-line-1] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
        grid-template-columns: [v-line-1] 1fr [v-line-2] 1fr [v-line-3] 1fr [v-line-4];
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .gd-2-lg{
        text-align: left;
    }

    .gd-4 img{
        margin-top: 160px;
        width:100%;
        height: auto;
    }
}