body{
    margin: 0px;
}

header {
    min-height: 100px;
}

select {
        width: 25%;
        padding: 5px 20px;
        border:double rgb(40, 92, 235);
        border-radius: 10px;
        background-color: #e2e2e2;  
}