.google{
    display:flex;
    padding:20px;
}


.covid{
    max-width:750px;
    text-align: center;
    text-justify: auto;
    padding: 15px;
}

.appointments{
    max-width:350px;
    text-align: center;
    text-justify: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

#site-footer{
    background-color: #5f9ecc;
    
}

.visit-ctr{
    text-align: center;
    text-justify: auto;
    padding-top:1px;
}
.visit-lt{
    text-align:left;
    margin-left: 15px;
    padding-bottom: 1px;
}
.visit-rt{
    text-align: right;
    margin-right: 15px;
    width: 35%;
    float: right;
    margin-top: -77px;
}

@media(min-width: 768px){

    .google{
        display:flex;
        width:650px;
        padding:20px;
    }

    .visit-ctr{
        text-align: center;
        text-justify: auto;
        padding-top:1px;
        margin-top:50px;
    }
}