#toggleAssist,
ul.nav-links {
    display: none;
}

.logo{
    max-width: 200px;
    margin: 10px;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}  

.toggle-button {
    width: 65px;
    float: right;
    margin-top: 25px;
    margin-right: 12px;
}