@import url("header.css");
@import url("services.css");
@import url("colors.css");

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}



.flex{
    display:flex;
    flex-direction: column;
    max-width:100%;
    
    padding: 2px;
}

.flex img{
    max-width: 100%;
    padding: 2px;
}

.flex img.row-2-lg{
    display:none;
}

.small-screen{
    display: none;
}

@media(min-width: 768px){
    .flex{
        display:flex;
        flex-direction: row;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .flex img{
        max-width: 100%;
        padding: 3px;
    }

    .flex img.row-2-sm{
        display:none;
    }

    .flex img.row-2-lg{
        display:flex;
    }

    .flex img.remove-lg{
        display:none;
    }

    .text-about{
        display:flex;
        width: 1201px;
        height:auto;
        margin-left: 20px;
        margin-right: 20px;
    }

}