ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.hc-title{
    text-align: center;
    text-justify: auto;
}
.lt-list{
    padding-left: 15px;
}
.hc-price{
    text-align: right;
    margin-top: -140px;
    height: auto;
    padding-right: 30px;
    float: right;
}

.row-2-sm{
    display:flex;
}

.color-box{
    width:375px;
    order:1;
}

.color-title{
    text-align: center;
    text-justify: auto;
    padding: 15px;
}

.color-list{
    width: 60%;
}

.color-price{
    float: right;
    text-align: right;
    margin-top: -420px;
    padding-right: 15px;
}

.disclaimer{
    text-align: center;
    text-justify: auto;
    margin-top:-20px;
}

.styling{
    text-align: center;
    text-justify: auto;
    padding: 15px;
}

.style-price{
    float: right;
    text-align: right;
    margin-top: -140px;
    padding-right: 10px;
}

.add-on{
    text-align: center;
    text-justify: auto;
    padding: 15px;
}

@media(min-width: 768px){

    .hc-box{
        width: 800px;
    }

    .hc-title{
        margin-bottom: 50px;
    }

    .hc-price{
        text-align: right;
        margin-top: -137px;
        height: auto;
        padding-right: 30px;
        float: right;
    }

    .color-box{
        width: 800px;
        order: 1;
    }

    .row-2-lg{
        order: 2;
    }

    .style-box{
        width: 800px;
    }

   

}