ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.hc-title{
    text-align: center;
    text-justify: auto;
}
.lt-list{
    width: 82%;
    padding-left: 10px;
}
.hc-price{
    text-align: right;
    margin-top: -83px;
    height: auto;
    padding-right: 10px;
}

.row-2-sm{
    display:flex;
}

.color-title{
    text-align: center;
    text-justify: auto;
}

.color-list{
    width: 60%;
    padding-left: 10px;
}

.color-price{
    float: right;
    text-align: right;
    margin-top: -382px;
    padding-right: 10px;
}

.disclaimer{
    text-align: center;
    text-justify: auto;
    margin-top:-20px;
}

.styling{
    text-align: center;
    text-justify: auto;
}

.style-price{
    float: right;
    text-align: right;
    margin-top: -140px;
    padding-right: 10px;
}
@media(min-width: 768px){

    .hc-box{
        width: 800px;
    }

    .color-box{
        width: 800px;
        order: 1;
    }

    .row-2-lg{
        order: 2;
    }

    .style-box{
        width: 800px;
    }

}